
@media screen and (max-width:960px)
{
    header .container{
        display: flex;
        flex-direction: column;
    }

    .botao{
        margin-top: 5px;
        width: 190px;
        height: 40px;
        font-size: 10px;
    }
    .img{
        flex-direction: column;
        width: 60%;
    }
    .video{
        width: 100%;
        margin-right: 30px;
        
    }
}

@media screen and (min-width:1000px)
{
    .descricao{
        width: 50%;
    }
    .img{
        flex-direction: column;
        width: 60%;
    }
}

